PORT=3015
NODE_ENV=production
NEXT_PUBLIC_APP_NAME="YALINIZ Records"
NEXT_PUBLIC_APP_URL="https://records.yalinizmedya.com"
NEXT_PUBLIC_CORPORATE_URL="https://yalinizmedya.com"
NEXT_PUBLIC_API_URL="https://records.yalinizmedya.com/api"
